server {
    listen 80;
    listen 443 ssl;
    server_name crud-app.run.place;

    ssl_certificate /etc/letsencrypt/live/crud-app.run.place/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/crud-app.run.place/privkey.pem;

    if ($scheme != "https") {
        return 301 https://$server_name$request_uri;
    }

    location / {
        return 301 http://karthikeya-profile.web.app;
    }


    location /node {
        alias /var/www/html/node;
        index index.html;
    }
    location /node/assets {
        alias /var/www/html/node/assets;
        index index.html;
    }
    location /node/api {
        proxy_pass http://localhost:3000/api;
    }


    location /django {
        alias /var/www/html/django;
        index index.html;
    }
    location /django/assets {
        alias /var/www/html/django/assets;
        index index.html;
    }
    location /django/api {
        proxy_pass http://localhost:3001/api;
    }
}